mixin my-block(blockNumber, time, blockHash, txsTotal)
  .row
    .col-sm-4
      .d-flex.align-items-sm-center
        .d-none.d-sm-flex
          div.mr-1.circle Bk
           
        .d-flex.d-sm-block
          span(style={'white-space': 'nowrap'}).d-sm-none Block&nbsp;
          a(href=`blocks/${blockNumber}` title='block number').nav-link.mb-0.mb-0.p-0.tag-transaction #{blockNumber}
          span.d-sm-block.ml-1.ml-sm-0.time #{time}
    .col-sm-8
      .d-flex.justify-content-between
        div(style={'max-width': '95%'})
          span(style={'white-space': 'nowrap'}, title='block hash') 
            span.d-sm-none Hash  
            a(href='#').transaction-addr #{blockHash}
          span(style={'white-space': 'nowrap'}, title='total transaction').d-block
            a(href='#').transaction-addr #{txsTotal} txs
  hr
