extends ../layout
block content
  div#wrapper
    include ../common/navbar
    div.container#content.p-sm-0.token-detail
      span.h4.content.font-weight-bold #{title}
        span.ml-3.symbol #{store?store.name:''}
      -if(!store){
        h3.text-center Data empty
      -} else {
        .row.overview
          .col-12.col-lg-6
            .box-detail
              form
                div.title Overview
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Name:
                  .col-sm-8
                    span.font-weight-bold.text-truncate.hash-tag #{store.name}
                      
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Owner:
                  .col-sm-8
                    span.text-truncate.hash-tag #{store.owner}
                      
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Txns:
                  .col-sm-8
                    span.text-truncate.hash-tag #{store.numTransactions}
                hr
          .col-12.col-lg-6.mt-4.mt-lg-0
            .box-detail
              form
                div.title Statistics
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Collections:
                  .col-sm-8
                    span.text-truncate.hash-tag #{store.numCollections}
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Keys:
                  .col-sm-8
                    span.text-truncate.hash-tag #{store.numKeys}
                hr
        .row.content-tab.mt-5
          .col
            .box-detail
              ul.nav.nav-tabs
                li
                  a.nav-link.active(href='#transactions' data-toggle='tab') Transactions
              div.tab-content
                div.active.tab-pane#transactions
                  div.d-flex.my-3
                    div#title-transactions A total of #{store.numTransactions} transactions found
                    div.mb-3.ml-auto 
                      div
                        label(for="custom-select").limit Show:
                          include ../common/select
                          | &nbsp; entries
                  hr.mb-0
                  table#tbCustom.table.table-striped.mb-0(width='100%')
                    thead.head-table
                      tr
                        th.th_sm.font-weight-bold Txn Hash
                        th.th_sm.font-weight-bold Age
                        th.th_sm.font-weight-bold From
                        th.th_sm.font-weight-bold Collection
                        th.th_sm.font-weight-bold Key
                        th.th_sm.font-weight-bold Value
                    tbody#tbody-transactions
                      -for(tx of store.transactions){
                        td(title=tx.txId)
                          span.text-truncate.hash-tag
                            a(href=`/tx/${tx.txId}`) #{tx.txId}
                        td
                          span.text-truncate.hash-tag #{tx.createdAt}
                        td(title=tx.source)
                          span.text-truncate.hash-tag
                            a(href=`/address/${tx.source}`) #{tx.source}
                        td #{tx.collection}
                        td #{tx.key}
                        td #{tx.value}
                      -}
                  .box-pagination
                    include ../common/pagination

      -}
    div.w-100(style={"margin-top": "50px"})
      include ../common/footer
  style.
    body {
      background-color: #f5f5f5;
    }
  