extends ../layout
block content
  div#transfers-loading.loading-spinner.text-center
    .spinner-border.text-primary(role='status')
      span.sr-only Loading...
  div#wrapper
    include ../common/navbar
    div.container#content.p-sm-0.token-detail
      
      span.h4.content.font-weight-bold 
        img.icon-token(src= `${token.icon || '../images/icons/token.png'}`) 
        | #{title}
        soan.ml-1.symbol #{token?token.symbol:''}
      -if(!token){
        h3.text-center Data empty
      -} else {
        .row.overview
          .col-12.col-lg-6
            .box-detail
              form
                div.title Overview
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Total Supply:
                  .col-sm-8
                    span.font-weight-bold.text-truncate.hash-tag #{token.totalSupply}
                      span.font-weight-bold.ml-1 #{token.symbol}
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Holders:
                  .col-sm-8
                    span.text-truncate.hash-tag #{token.holders}
                      span.ml-1 addresses
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Transfers:
                  .col-sm-8
                    span.text-truncate.hash-tag #{token.transfers}
                hr
          .col-12.col-lg-6.mt-4.mt-lg-0
            .box-detail
              form
                div.title Profile Summary
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Token ID:
                  .col-sm-8
                    a(href='#').text-truncate.hash-tag #{token.tokenId}
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Decimals:
                  .col-sm-8
                    span.text-truncate.hash-tag #{token.decimals}
                hr
        .row.content-tab.mt-5
          .col
            .box-detail
              ul.nav.nav-tabs
                li
                  a.nav-link.active(href='#transfers' data-toggle='tab') Transfers
                li
                  a.nav-link(href='#holders' data-toggle='tab') Holders
              div.tab-content
                div.active.tab-pane#transfers
                  
                  div.my-3
                    div#title-transfers A total of ... transactions found
                  hr.mb-0
                  table#tbCustom.table.table-striped.mb-0(width='100%')
                    thead.head-table
                      tr
                        th.th_sm.font-weight-bold Txn Hash
                        th.th_sm.font-weight-bold Age
                        th.th_sm.font-weight-bold From
                        th.th_sm.font-weight-bold
                        th.th_sm.font-weight-bold To
                        th.th_sm.font-weight-bold Quantity
                    tbody#tbody-transfers
                  .box-pagination
                    div.pagination
                div.tab-pane#holders
                  div.my-3#title-holders A total of ... holders
                  hr
                  table#tbCustom.table.table-striped.mb-0(width='100%')
                    thead.head-table
                      tr
                        th.th_sm.font-weight-bold Rank
                        th.th_sm.font-weight-bold Adress
                        th.th_sm.font-weight-bold Quantity
                        th.th_sm.font-weight-bold Percentage
                    tbody#tbody-holders
                  .box-pagination
                    div.pagination
      -}
    div.w-100(style={"margin-top": "50px"})
      include ../common/footer
  style.
    body {
      background-color: #f5f5f5;
    }
  script. 
    $(document).ready(function(){
      const token = `#{token}`;
      if(token){
        $.ajax({
          method: "GET",
          url: `#{url}/tokens/transfers-holders/#{token.tokenId}`,
          success: function( msg ) {
            const { transfers, holders, pagesTransfers, pagesHolders, totalPageTransfers, totalPageHolders, totalTransfers, totalHolders } = msg.data;
            renderViewTransfers(transfers, pagesTransfers, 1, totalPageTransfers);
            renderViewHolders(holders, pagesHolders, 1, totalPageHolders);
            $('#transfers #title-transfers').text(`A total of ${totalTransfers} transactions found`);
            $('#holders #title-holders').text(`A total of ${totalHolders} holders`);
            $('#tbCustom_wrapper').trigger('resize');
            $('#transfers-loading').hide();
          },
          error: function( error ) {
            $('#transfers-loading').hide();
          }
        })
      } else {
        $('#transfers-loading').hide();
      }
    });

    function renderPagination(element, pages, currentPage, totalPage, test){
      if(pages.length === 0 || pages[0] === 1){
        element.append(`
          <a class= 'btn-floating waves-effect waves-light pagination-button disabled' onclick='customGoToPage${test}(1)'>
            <img src="/images/double_arrow_left.svg">
          </a>
        `)
      }
      else {
        element.append(`
          <a class= 'btn-floating waves-effect waves-light pagination-button' onclick="customGoToPage${test}(1)">
            <img src="/images/double_arrow_left.svg" >
          </a>
        `)
      }
      for(page of pages){
        if(currentPage === page){
          element.append(`
            <a class='btn-floating waves-effect waves-light pagination-button selected' onclick="customGoToPage${test}(${page})">${page}</a>
          `)
        } else {
          element.append(`
            <a class='btn-floating waves-effect waves-light pagination-button' onclick="customGoToPage${test}(${page})">${page}</a>
          `)
        }
      }
      if (pages.length === 0 || pages[pages.length - 1] === totalPage){
        element.append(`
          <a class= 'btn-floating waves-effect waves-light pagination-button disabled' onclick="customGoToPage${test}(${totalPage})">
            <img src="/images/double_arrow_right.svg" >
          </a>
        `)
      } else {
        element.append(`
          <a class= 'btn-floating waves-effect waves-light pagination-button' onclick="customGoToPage${test}(${totalPage})">
            <img src="/images/double_arrow_right.svg" >
          </a>
        `)
      }
    }

    function customGoToPageTransfers(page){
      $('#transfers-loading').show();
      $.ajax({
          method: "GET",
          url: `#{url}/tokens/transfers/#{token.tokenId}?page=${page}&limit=${25}`,
          success: function( msg ){
            const {transfers, pages, currentPage, totalPage} = msg.data;
            $('#tbody-transfers').children('tr').remove();
            $('#transfers .pagination').children('a').remove();
            renderViewTransfers(transfers, pages, currentPage, totalPage);
            $('#transfers-loading').hide();
          },
          error: function( error ) {
            $('#transfers-loading').hide();
          }
      })
    }

    function customGoToPageHolders(page){
      $('#transfers-loading').show();
      $.ajax({
          method: "GET",
          url: `#{url}/tokens/holders/#{token.tokenId}?page=${page}&limit=${50}`,
          success: function( msg ){
            const {holders, pages, currentPage, totalPage} = msg.data;
            $('#tbody-holders').children('tr').remove();
            $('#holders .pagination').children('a').remove();
            renderViewTransfers(holders, pages, currentPage, totalPage);
            $('#transfers-loading').hide();
          },
          error: function( error ) {
            $('#transfers-loading').hide();
          }
      })
    }

    function renderViewTransfers(transfers, pages, currentPage, totalPage){
      const elementTrans = $('#tbody-transfers');
      const elementPage = $('#transfers .pagination');
      for(let i = 0; i < transfers.length; i++){
        $('#tbody-transfers .odd').hide();
        elementTrans.append(`
              <tr class=tr-link>
                <td title=${transfers[i].txId}>
                  <span class='text-truncate hash-tag'>
                    <a href=/tx/${transfers[i].txId}>${transfers[i].txId}</a>
                  </span>
                </td>
                <td >
                  <span class='text-truncate hash-tag'> ${transfers[i].createdAt} </span>
                </td>
                <td title=${transfers[i].source}>
                  <span class='text-truncate hash-tag'>
                    <a href=/address/${transfers[i].source}>${transfers[i].source}</a>
                  </span>
                </td>
                <td>
                  <span class='text-truncate hash-tag'>
                    <div class = circle>
                      <i class='fas fa-long-arrow-alt-right'></i>
                    </div>
                  </span>
                </td>
                <td title=${transfers[i].target}>
                  <span class='text-truncate hash-tag'>
                    <a href=/address/${transfers[i].target}>${transfers[i].target}</a>
                  </span>
                </td>
                <td>
                  <span class='text-truncate hash-tag'>${transfers[i].quantity}</span>
                </td>
              </tr>
        `);
      }
      renderPagination(elementPage, pages, currentPage, totalPage, 'Transfers');
    }

    function renderViewHolders(holders, pages, currentPage, totalPage){
      const elementHolders = $('#tbody-holders');
      const elementPage = $('#holders .pagination');
      for(let i = 0; i < holders.length; i++){
        $('#tbody-holders .odd').hide();
        elementHolders.append(`
              <tr class=tr-link>
                <td >
                  <span class='text-truncate hash-tag'> ${i+1} </span>
                </td>
                <td>
                  <span class='text-truncate hash-tag'>
                    <a href= #>${holders[i].address}</a>
                  </span>
                </td>
                <td >
                  <span class='text-truncate hash-tag'> ${holders[i].quantity} </span>
                </td>
                <td >
                  <span class='text-truncate hash-tag'> ${holders[i].percentage} </span>
                </td>
              </tr>
        `);
      }
      renderPagination(elementPage, pages, currentPage, totalPage, 'Holders');
    }


