extends ../layout
block script
  script(type="text/javascript" src="/js/token.js")

block content
  div#transfers-loading.loading-spinner.text-center
    .spinner-border.text-primary(role='status')
      span.sr-only Loading...
  div#wrapper
    include ../common/navbar
    div.container#content.p-sm-0.token-detail
      
      h4.d-flex.content.font-weight-bold 
        img.mr-1.icon-token(src= `${token.icon || '../images/icons/token.png'}`) 
        div
          | #{title}
          span.ml-1.symbol #{token?token.symbol:''}
      -if(!token){
        h3.text-center Data empty
      -} else {
        .row.overview
          .col-12.col-lg-6
            .box-detail
              form
                div.title Overview
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Total Supply:
                  .col-sm-8
                    span.font-weight-bold.text-truncate.hash-tag #{token.totalSupply}
                      span.font-weight-bold.ml-1 #{token.symbol}
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Holders:
                  .col-sm-8
                    span.text-truncate.hash-tag #{token.holders}
                      span.ml-1 addresses
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Transfers:
                  .col-sm-8
                    span.text-truncate.hash-tag #{token.transfers}
                hr
          .col-12.col-lg-6.mt-4.mt-lg-0
            .box-detail
              form
                div.title Profile Summary
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Token ID:
                  .col-sm-8
                    a(href='#').text-truncate.hash-tag #{token.tokenId}
                hr
                .form-group.row
                  .col-sm-4
                    label.col-form-label Decimals:
                  .col-sm-8
                    span.text-truncate.hash-tag #{token.decimals}
                hr
        .row.content-tab.mt-5
          .col
            .box-detail
              ul.nav.nav-tabs
                li
                  a.nav-link.active(href='#transfers' data-toggle='tab') Transfers
                li
                  a.nav-link(href='#holders' data-toggle='tab') Holders
              div.tab-content
                div.active.tab-pane#transfers
                  
                  div.my-3
                    div#title-transfers A total of ... transactions found
                  hr.mb-0
                  table#tbCustom.table.table-striped.mb-0(width='100%')
                    thead.head-table
                      tr
                        th.th_sm.font-weight-bold Txn Hash
                        th.th_sm.font-weight-bold Age
                        th.th_sm.font-weight-bold From
                        th.th_sm.font-weight-bold
                        th.th_sm.font-weight-bold To
                        th.th_sm.font-weight-bold Quantity
                    tbody#tbody-transfers
                  .box-pagination
                    div.pagination
                div.tab-pane#holders
                  div.my-3#title-holders A total of ... holders
                  hr
                  table#tbCustom.table.table-striped.mb-0(width='100%')
                    thead.head-table
                      tr
                        th.th_sm.font-weight-bold Rank
                        th.th_sm.font-weight-bold Address
                        th.th_sm.font-weight-bold Quantity
                        th.th_sm.font-weight-bold Percentage
                    tbody#tbody-holders
                  .box-pagination
                    div.pagination
      -}
    div.w-100(style={"margin-top": "50px"})
      include ../common/footer
  style.
    body {
      background-color: #f5f5f5;
    }
  script. 
    const token = !{JSON.stringify(token)}
    const limit = 25
    const tokenId = `#{token.tokenId}`

