extends ../layout
block content
  div#wrapper
    include ../common/navbar
    div.container#content.p-sm-0.block-detail
      span.h4.content.font-weight-bold #{title}
      -if(!transactionData){
        h3.text-center Data empty
      -} else {
        .box-detail
          form
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Transaction Hash:
              .col-sm-8
                span.text-truncate.hash-tag
                  a(href="#") #{transactionData.txId}
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Status:
              .col-sm-8
                span.text-truncate.hash-tag.tx-status-success
                  i.fa.fa-check-circle.mr-1 
                  | Success
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Block:
              .col-sm-8
                span.text-truncate.hash-tag
                  a(href=`/blocks/${transactionData.blockNumber}`) #{transactionData.blockNumber}
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Timestamp:
              .col-sm-8
                  span.text-truncate.hash-tag #{transactionData.createdAt}
            hr
            .form-group.row
              -if(transactionData.token){
                .col-sm-4
                  label.col-form-label Token:
                .col-sm-8
                  span.text-truncate.hash-tag
                    a(href=`/tokens/${transactionData.tokenId}`) #{transactionData.token}
              -} else{
                .col-sm-4
                  label.col-form-label Store:
                .col-sm-8
                  span.text-truncate.hash-tag
                    a(href=`/stores/${transactionData.store}`) #{transactionData.store}
              -}
            hr
            .form-group.row.tx-from
              .col-sm-4
                label.col-form-label From:
              .col-sm-8#tx-from
                span.text-truncate.hash-tag
                  a(href = `/address/${transactionData.source}`)#txt-copy #{transactionData.source}
                -if(transactionData.target){
                  i.far.fa-copy.tx-copy(title="Copy signature to clipboard" onclick="handleCopy(this)")
                -}
            hr
            .form-group.row.tx-to
              .col-sm-4
                label.col-form-label To:
              .col-sm-8#tx-to
                span.text-truncate.hash-tag
                  -if(transactionData.target.type === 'token'){
                    a(href = `/tokens/${transactionData.target.link}`)#txt-copy #{transactionData.target.link}
                  -} else if(transactionData.target.type === 'store') {
                    a(href = `/stores/${transactionData.target.link}`)#txt-copy #{transactionData.target.link}
                  -} else {
                    a(href = `/address/${transactionData.target.link}`)#txt-copy #{transactionData.target.link}
                  -}
                -if(transactionData.target){
                  i.far.fa-copy.tx-copy(title="Copy signature to clipboard" onclick="handleCopy(this)")
                -}
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Amount:
              .col-sm-8
                  span.text-truncate.hash-tag #{transactionData.amount}
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Fee:
              .col-sm-8
                  span.text-truncate.hash-tag #{transactionData.fee}
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Nonce:
              .col-sm-8
                span.text-truncate.hash-tag #{transactionData.nonce}
            hr
            .form-group.row
              .col-sm-4
                label.col-form-label Signature:
              .col-sm-8#tx-signature
                span.text-truncate.hash-tag#txt-copy #{transactionData.signature}
                i.far.fa-copy.tx-copy(title="Copy signature to clipboard" onclick="handleCopy(this)")
            hr
            -if(transactionData.data){
              .form-group.row
                .col-sm-4
                  label.col-form-label Data:
                .col-sm-8
                  .tx-data
                    .row 
                      .col-4
                        label(style={'font-weight': '450'}).col-form-label #{`${transactionData.store != undefined ? 'Collection' : 'Function'}`}:
                      .col-8
                        span.text-truncate.hash-tag #{`${transactionData.store != undefined ? transactionData.data.collection : transactionData.data.function}`}
                    .row 
                      .col-4
                        label(style={'font-weight': '450'}).col-form-label #{`${transactionData.store != undefined ? 'Key' : 'Params[0]'}`}:
                      .col-8
                        span.text-truncate.hash-tag #{`${transactionData.store != undefined ? transactionData.data.key : transactionData.data.params0}`}
                    .row 
                      .col-4
                        label(style={'font-weight': '450'}).col-form-label #{`${transactionData.store != undefined ? 'Value' : 'Params[1]'}`}:
                      .col-8
                        span.text-truncate.hash-tag #{`${transactionData.store != undefined ? transactionData.data.value : transactionData.data.params1}`}
            -}
            hr
      -}
    
    div(style={"margin-top": "50px"})
    include ../common/footer
  style.
    body {
      background-color: #f5f5f5;
    }
  script. 
    function handleCopy(element){
      const id = element.parentNode.id
      const copyText = document.querySelector(`#${id} #txt-copy`).innerText;
      const textArea = document.createElement("textarea");
      textArea.value = copyText;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand("Copy");
      textArea.remove();
    }

    