table#tbTokens.table.table-striped.mb-0(width='100%')
  thead.head-table
    tr
      th.th_sm.font-weight-bold #
      th.th_sm.font-weight-bold Token
      th.th_sm.font-weight-bold Transfers(24H)
      th.th_sm.font-weight-bold Total Supply
      th.th_sm.font-weight-bold Holders
  tbody
    -for(let i=0; i<tokens.length; i++){
      tr.tr-link
        td #{i}
        td
          .d-flex(style={"align-items": "center"})
            div 
              img(src= `${tokens[i].img || '/images/icons/token.png'}`, style={'width': '25px', 'height': '25px'})
            div.ml-2
              a(href="#").text-truncate.hash-tag.token-name #{tokens[i].name} (#{tokens[i].symbol})
        td 
          span #{tokens[i].transfers}
        td
          span #{tokens[i].totalSupply}
        td
          span #{tokens[i].holders}
    -}
