block content
  table#tbCustom.table.table-striped.mb-0(cellspacing='0' width='100%')
    thead.head-table
      tr
        th.th_sm.font-weight-bold Store Name
        th.th_sm.font-weight-bold Store ID
        th.th_sm.font-weight-bold Collections
        th.th_sm.font-weight-bold Key-Value Pairs
    tbody
      -for(store of stores){
        tr.tr-link
          td 
            a(href=`/stores/${store.id}`) #{store.name}
          td(title=store.id)
            span.text-truncate.hash-tag
              a(href=`/stores/${store.id}`) #{store.id}
          td()
            span.text-truncate.hash-tag
              a(href=`/kv/${store.id}`) #{store.numCollections}
          td(title=store.values)
            span.text-truncate.hash-tag
              a(href=`/kv/${store.id}`) #{store.numKeys}
      -}
  