extends layout
block content
  h1.container-fluid.mt-3.mb-5.text-center #{title}
  div.container-fluid
    div.row
      div.d-flex.justify-content-center.box-search
        form(method='post')
          input.textbox(type='text' placeholder='Search')
          input.button(title='Search' value='' type='submit')
    div.row 
      div.col-md-6.col-12
        div.border-table
          h3(style={"font-weight": "bold", "margin-bottom": "35px", }) Transactions
          div.row 
            div.col-lg-6.col-12
              div
                label(for="custom-select").status Show:
                  select#select-status.custom-select(onchange="handleChangeStatus()")
                    option(value='0') 10
                    option(value='1') 25
                    option(value='2') 50
                label(for="custom-select" style={'margin-left':"5px"}).status entries
          table#tbTransactions.table.table-striped.table-bordered.text-center(cellspacing='0' width='100%')
            thead.head-table
              tr
                th.th_sm Tx ID
                th.th_sm Nonce
                th.th_sm Token ID
                th.th_sm Source
                th.th_sm Target
                th.th_sm Amount
                th.th_sm Fee
                th.th_sm Signature
                th.th_sm Created at
                th.th_sm Block number
            tbody
              -for(let i=0; i<transactions.length; i++){
                tr.tr-link
                  td(title=transactions[i].txId) #{transactions[i].txId}
                  td #{transactions[i].nonce}
                  td #{transactions[i].tokenId}
                  td #{transactions[i].source}
                  td #{transactions[i].target}
                  td #{transactions[i].amount}
                  td #{transactions[i].fee}
                  td #{transactions[i].signature}
                  td #{transactions[i].createdAt}
                  td #{transactions[i].blockNumber}
              -}
        
      div.col-md-6.col-12
        div.border-table
          h3(style={"font-weight": "bold", "margin-bottom": "35px"}) Blocks
          div.row 
            div.col-auto
              div
                label(for="custom-select").status Show:
                  select#select-status.custom-select(onchange="handleChangeStatus()")
                    option(value='0') 10
                    option(value='1') 25
                    option(value='2') 50
                label(for="custom-select" style={'margin-left':"5px"}).status entries
          table#tbBlocks.table.table-striped.table-bordered.text-center(cellspacing='0' width='100%')
            thead.head-table
              tr
                th.th_sm Block number
                th.th_sm Parent hash
                th.th_sm Tx root hash
                th.th_sm Block hash
                th.th_sm Created at
            tbody
              -for(let i=0; i<blocks.length; i++){
                tr.tr-link
                  td #{blocks[i].blockNumber}
                  td #{blocks[i].parentHash}
                  td #{blocks[i].txRootHash}
                  td #{blocks[i].blockHash}
                  td #{blocks[i].createdAt}
                
              -}
  script.
    $(document).ready(function() {
      $('#tbTransactions').DataTable({
        scrollX: true,
        searching: false,
        paging: false,
        bFilter: false,
        bInfo: false,
        sort: false
      });

      $('#tbBlocks').DataTable({
        scrollX: true,
        searching: false,
        paging: false,
        bFilter: false,
        bInfo: false,
        sort: false
      });
      
    } );
