extends layout
block content
  include navbar
  .title
    h1.container-fluid.mb-5.text-center #{title}
    div.row
      div.d-flex.justify-content-center.box-search
        div.form-search
          input.textbox(type='text' placeholder='Search')
          input.button(title='Search' value='' type="submit")
  .container
    .block-title
      .block1
        .row1
          h5 LATEST BLOCK
          label.number 1,272,845
        .row2
          h5 LATEST CHECKPOINT
          label.number 1,272,845
        .row3
          h5 TOKENS
          label.number 16
      .block2
        .row1
          h5 TRANSACTIONS
          label.number 1,272,845
        .row2
          h5 ACCOUNTS
          label.number 16,002
        .row3
          h5 STORES
          label.number 165
      .block3
        .row1
          h5 TOKENS
          label.number 16
        .row2
          h5 STORES
          label.number 165
  .container
    div.row.dashboard 
      div.col-md-6.col-12.table-up
        div.border-table.table-transactions
          h3(style={"font-weight": "bold", "margin-bottom": "35px", }) Transactions
          div.row 
            div.col-lg-6.col-12
              div
                label(for="custom-select").status Show: #{transactions.length}/#{totalTransactions} entries
          include tables/table-transactions
          -if(totalTransactions > 10){
            .box-show-more
              a(href='/transactions') Show more ...
          -}

      div.col-md-6.col-12
        div.border-table.table-blocks
          h3(style={"font-weight": "bold", "margin-bottom": "35px"}) Blocks
          div.row 
            div.col-auto
              div
                label(for="custom-select").status Show: #{blocks.length}/#{totalBlocks} entries
          include tables/table-blocks
          -if(totalBlocks > 10){
            .box-show-more
              a(href='/blocks') Show more ...
          -}

  include footer
