include ../helpers/helper.js.pug
-for(let i = 0; i < decodedData.length; i++){
  div.mb-2
    span.text-truncate.hash-tag 
      div(style="display: flex; align-items: center;" id=txEvent.txId + i)
        span
          select.form-select.mr-1(onchange="handleChangeRadix(this," + i + ", " + "'"+decodedData[i]+"'" + ")"  id="select-convert-radix-" + i)
            option(selected value="hex") Hex
            option( value="number") Number
            option( value="text") Text
            option( value="address") Address
          i.fas.fa-long-arrow-alt-right.mr-2
        span.text-truncate(id=`decode-value-${i}`) #{decodedData[i]}
-}

script. 
  function handleChangeRadix(element, id, value){
    const parentId = element.parentNode.parentNode.id;
    const decodeElement = $(`#${parentId} #decode-value-${id}`);
    const key = $(`#${parentId} #select-convert-radix-${id}`).val();

    switch(key) {
      case 'hex':
        decodeElement.text(value);
        break;
      case 'number':
        decodeElement.text(Web3.utils.hexToNumber("0x"+value));
        break;
      case 'text':
        decodeElement.text(Web3.utils.hexToAscii("0x"+value));
        break;
      case 'address':
        decodeElement.text("0x" + value.slice(-40));
        break;
      default:
        decodeElement.text(value);
        return;
    }
  }
  